*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

#city-view {
  font-size: 12px;
}

.head {
  margin-bottom: -20px;
}

h3 {
  font-size: 16px;
  margin-bottom: -5px;
}

.fc {
  margin: 20px;
  align-content: center;
}