*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  font-family: "Muli", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color: rgb(41, 41, 41);
  text-align: center;
}

.large {
  color: rgb(37, 71, 175);
  font-size: 80px;
}

.footer {
  color: rgb(235, 240, 243);
  letter-spacing: 12px;
}

.big {
  font-size: 72px;
}

.input-field {
  width: 400px;
  display: inline-block;
  text-align: center;
  align-items: center;
}

.center {
  text-align: center;
  display: block;
}

#city-view {
  font-size: 12px;
}

.head {
  font-size: 38px;
}

.info {
  /* margin-bottom: -5px; */
  font-size: 20px;
}

.city {
  font-size: 24px;
  margin: 5px;
}

h3 {
  font-size: 24px;
  margin-bottom: -5px;
  color: rgb(129, 129, 129);
}

.fc {
  margin: 20px;
  align-content: center;
}

.card {
  /* background-color: royalblue; */
  color: aliceblue;
  background-color: royalblue;
  border: 2px solid rgb(65, 99, 201);
  border-radius: 10px;
  padding: 20px !important;
  margin: 10px
}

.big {
  font-size: 24px;
}

button {
  background-color: rgb(82, 135, 243);
  color: white;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid rgb(98, 148, 248);
  border-radius: 10px;
}

button:hover {
  background-color: rgb(71, 126, 236);
  color: white;
  border: 2px solid rgb(156, 187, 248);
}

button:visited {
  background-color: rgb(77, 118, 241) !important;
}

button:active {
  background-color: rgb(77, 118, 241) !important;
}

button:focus {
  background-color: rgb(56, 101, 236) !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(54, 113, 180) !important;
  box-shadow: 0 0 0 0 royalblue !important;
}


@media only screen and (max-width: 768px) {

  .large {
    font-size: 50px;
  }

  .date {
    font-size: 20px;
  }

  button {
    font-size: 18px !important;
  }

  .input-field {
    width: 300px;
    display: inline-block;
    text-align: center;
    align-items: center;
  }

}